@model VendeurVM

@{
    ViewData["Title"] = @Locals["Title"];

}

<h1 style="padding-top:40px">Nom de vendeur: @Model.venduers.NomVendeur</h1>

<h3>Model.venduers.NomVendeur est impliqué dans les objectives:</h3>

<div class="row">
    @*  POUR CHAQUE ZOMBIE:*@
    @foreach (var item in Model.objecttivesLists)
    {

        <partial name="_objectivePartiel" model="item" />


    }
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">@Locals["BackToList"]</a>
</div>
